html{
    --bg: #111;
    --bg-light: #333;
    --bg-dark: #000;
    --color: #ddd;
}

body{
    background: var(--bg);
    color: var(--color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

button{
    background-color: var(--bg-light);
    color: inherit;
    border: none;
    padding: 0.3rem;
    cursor: pointer;
    font-size: 1em;
    line-height: inherit;
    letter-spacing: inherit;
}

input{
    background-color: var(--bg-light);
    color: inherit;
    border: none;
    padding: 0.3rem;
    font-size: 1em;
    margin: 0.3rem;
    outline: none;
    line-height: inherit;
    letter-spacing: inherit;
    font-family: inherit;
}

select{
    background-color: var(--bg-light);
    color: inherit;
    border: none;
    padding: 0.3rem;
    font-size: 1em;
    margin: 0.3rem;
    outline: none;
    line-height: inherit;
    letter-spacing: inherit;
    font-family: inherit;
}
